.input-wrapper {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    text-overflow: ellipsis;
    text-align: center;
    font-size: 100px;
    height: 100px;
}

input {
    border-radius: 50px;
    height: 30px;
    width: 200px;
    color: rgba(255, 255, 255, 0.493);
    padding-left: 16px;
    border: 1px solid rgba(58, 58, 58, 0.671);
    font-weight: 500;
}

input:focus {
    outline: none;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.267);
}