.loaderSection {
    background-color: rgb(7, 219, 78);
    width: 56px;
    height: 20px;
    border-radius: 8px;
}

.filler {
    background-color: rgb(27, 53, 34);
}

.loader {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.loaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5 {
    position: absolute;
    z-index: -1;
    color: rgba(41, 41, 41, 0.199);
    font-size: 230px;
}